<style type="text/css">
table{
  color:#89bdd3;
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid white;
}
td{
  padding: 10px;
}
h2{
  font-family: sans-serif;
  text-align: center;
  color: #9ad3de;
  font-size: 30px;
}
</style>


<h2> <span style="font-weight: lighter">DOJO</span> MUSIC HUB</h2>
<h3 style="color:#89bdd3">Hello, <%= @users_id %> </h3>
<body bgcolor="#e3e3e3">

<table cellspacing="10">
  <thead>
    <th>Artist</th>
    <th>Title</th>
    <th>Plays</th>
    <th>Add Song</th>
  </thead>
  <tr>
    <td> Allegory </td>
    <td> 2 Alive </td>
    <td> 16 </td>
    <td> <a href="/"> <button type="button" name="button">Add Song</button> </a> </td>
  </tr>
  <tr>
    <td> Allegory </td>
    <td> 2 Alive </td>
    <td> 16 </td>
    <td> <a href="/"> <button type="button" name="button">Add Song</button> </a> </td>
  </tr>
</table>
</body>
